---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404 Not Found" description="ページが見つかりませんでした。">
	<h1>404</h1>
	<p>ページが見つかりませんでした。</p>
	<a href="/">トップページへ戻る</a>
</BaseLayout>
